# 🔒 Secret files
.env
*.env
firebase.json
credentials.json
serviceAccountKey.json


# 📦 Dependencies
node_modules/
__pycache__/
*.pyc

# 🛠️ IDE/editor settings
.vscode/
.idea/

# 🚀 Expo and React Native
.expo/
.expo-shared/

# 🗑️ Other
.DS_Store
*.log
